<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
</head>
<body>
	<div id="map" style="width:500px;height:400px;"></div> 
	<!-- 지도를 띄울 창 -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=00e7c426be42b64d0b53df2f5c67a5de&libraries=services"></script>
	<!-- 지도 api -->
	<script>
		var container = document.getElementById('map');
        // 지도 옵션 
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};
        // 지도 생성
		var map = new kakao.maps.Map(container, options);
		// 주소-좌표 반환 객체 생성
		var geocoder = new kakao.maps.services.Geocoder();
		// 주소로 좌표를 검색
		geocoder.addressSearch('서울특별시 정릉로 77', function(result, status){
			if(status === kakao.maps.services.Status.OK) {
				var coords = new.maps.LatLng(result[0].y, result[0].x)

				 // 결과값으로 받은 위치를 마커로 표시합니다
				 var marker = new kakao.maps.Marker({
            		map: map,
            		position: coords
				});
				// 인포윈도우로 장소에 대한 설명을 표시합니다
				var infowindow = new kakao.maps.InfoWindow({
            		content: '<div style="width:150px;text-align:center;padding:6px 0;">우리학교</div>'
        		});
        		infowindow.open(map, marker);

        		// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        		map.setCenter(coords);
			}
		});
	</script>
</body>
</html>